In [25]:
# Imports
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
import seaborn as sns
import random
from statsmodels.tsa.statespace.sarimax import SARIMAX

In [26]:
def clean_data(data):
    df = pd.merge(data, stores_data, left_on=['store_nbr'], right_on=['store_nbr'], how='left')
    df['date'] = pd.to_datetime(df['date'])
    df.set_index('date', inplace=True)
    df = pd.get_dummies(df, columns=['store_nbr', 'family', 'city', 'state', 'type', 'cluster'])
    return df

In [27]:
holiday_events_data = pd.read_csv("kaggle_data/holidays_events.csv", parse_dates=["date"])
oil_data = pd.read_csv("kaggle_data/oil.csv", parse_dates=["date"])
stores_data = pd.read_csv("kaggle_data/stores.csv")
transactions_data = pd.read_csv("kaggle_data/transactions.csv")

# For predictions/Machine Learning problem
train_data = pd.read_csv("kaggle_data/train.csv")
test_data = pd.read_csv("kaggle_data/test.csv")
sample_submission_data = pd.read_csv("kaggle_data/sample_submission.csv")

In [28]:
train_data = clean_data(train_data)
train_data.head()

,id,sales,onpromotion,store_nbr_1,store_nbr_2,store_nbr_3,store_nbr_4,store_nbr_5,store_nbr_6,store_nbr_7,...,cluster_8,cluster_9,cluster_10,cluster_11,cluster_12,cluster_13,cluster_14,cluster_15,cluster_16,cluster_17
date,,,,,,,,,,,,,,,,,,,,,
2013-01-01,0,0.0,0,1,0,0,0,0,0,0,...,0,0,0,0,0,1,0,0,0,0
2013-01-01,1,0.0,0,1,0,0,0,0,0,0,...,0,0,0,0,0,1,0,0,0,0
2013-01-01,2,0.0,0,1,0,0,0,0,0,0,...,0,0,0,0,0,1,0,0,0,0
2013-01-01,3,0.0,0,1,0,0,0,0,0,0,...,0,0,0,0,0,1,0,0,0,0
2013-01-01,4,0.0,0,1,0,0,0,0,0,0,...,0,0,0,0,0,1,0,0,0,0

In [29]:
train_id = train_data["id"]
y_train = train_data["sales"]
X_train = train_data.drop(["id", "sales"], axis = 1)

In [31]:
y_train.head()

date
2013-01-01    0.0
2013-01-01    0.0
2013-01-01    0.0
2013-01-01    0.0
2013-01-01    0.0
Name: sales, dtype: float64

In [ ]:
from pmdarima import auto_arima

# Fit auto_arima function to your dataset
stepwise_fit = auto_arima(y_train, start_p = 1, start_q = 1,
                          max_p = 3, max_q = 3, m = 12,
                          start_P = 0, seasonal = True,
                          d = None, D = 1, trace = True,
                          error_action ='ignore',  # we don't want to know if an order does not work
                          suppress_warnings = True,  # we don't want convergence warnings
                          stepwise = True)  # set to stepwise

# Print the summary
print(stepwise_fit.summary())

Performing stepwise search to minimize aic

In [32]:
model = SARIMAX(y_train, order=(p, d, q), exog=X_train)
model_fit = model.fit()

NameError: name 'p' is not defined

In [13]:
X_train

            store_nbr                      family  onpromotion
date
2013-01-01          1                  AUTOMOTIVE            0
2013-01-01          1                   BABY CARE            0
2013-01-01          1                      BEAUTY            0
2013-01-01          1                   BEVERAGES            0
2013-01-01          1                       BOOKS            0
...               ...                         ...          ...
2017-08-15          9                     POULTRY            0
2017-08-15          9              PREPARED FOODS            1
2017-08-15          9                     PRODUCE          148
2017-08-15          9  SCHOOL AND OFFICE SUPPLIES            8
2017-08-15          9                     SEAFOOD            0

[3000888 rows x 3 columns]